{% extends "email/base_email.html" %}

{% block title %}Reset Your Password - KeyN{% endblock %}

{% block email_title %}Password Reset Request{% endblock %}
{% block email_subtitle %}Hi {{ username }}, we received a request to reset your password.{% endblock %}

{% block email_content %}
<p>Someone requested a password reset for your KeyN account. If this was you, click the button below to reset your password:</p>

<div class="button-container">
  <a href="{{ link }}" class="btn-primary">Reset Your Password</a>
</div>

<p>If the button above doesn't work, you can copy and paste this link into your browser:</p>
<div class="backup-link">{{ link }}</div>

<div class="info-box">
  <h4>Security Notice</h4>
  <ul>
    <li>This link will expire in <strong>1 hour</strong></li>
    <li>If you didn't request this reset, you can safely ignore this email</li>
    <li>Your password won't be changed unless you click the link above</li>
    <li>For security, we recommend using a strong, unique password</li>
  </ul>
</div>

<p><strong>Didn't request this?</strong> If you didn't request a password reset, please ignore this email. Your account remains secure.</p>
{% endblock %}

{% block footer_disclaimer %}
This email was sent because someone requested a password reset for your KeyN account. If you didn't make this request, please ignore this email.
{% endblock %}
